<% lineuser = Lineuser.find_by(userid: params[:userid]) %>
<% @chats.each do |c| %>
  <div class="chat">
    <% if c.user_id.nil? %>
      <div class="receive d-flex flex-row justify-content-start">
        <img src="<%= lineuser.pictureurl %>" class="rounded-circle w-10" width="50" height="50">
        <%= lineuser.displayname %>
        <div>
          <%= c.message %>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
<% end %>

<%= form_for(@chat, url: {controller: 'lineevents', action: 'messagecreate' }) do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :lineuser_id, value: params[:userid] %>
  <%= f.submit %>
<% end %>