<% lineuser = Lineuser.find_by(userid: params[:userid]) %>
<% @chats.each do |c| %>
  <div class="chat">
    <% if c.user_id.nil? %>
      <div class="receive d-flex flex-row align-items-center justify-content-start" style="height: 40px">
        <img src="<%= lineuser.pictureurl %>" class="rounded-circle w-10" width="36" height="36">
        <p><%= c.message %></p>
        <div class="post-time small">
          <p><%= c.created_at.strftime('%Y/%m/%d') %></p>
          <p><%= c.created_at.strftime('%H:%M') %></p>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
<% end %>

<%= form_for(@chat, url: {controller: 'lineevents', action: 'messagecreate' }) do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :lineuser_id, value: params[:userid] %>
  <%= f.submit %>
<% end %>