<% lineuser = Lineuser.find_by(userid: params[userid]) %>
<% @chats.each do |c| %>
  <div class="chat">
    <% if c.user_id.nil? %>
      <div class="receive">
        <%= lineuser.id %>
        <%= c.lineuser_id %>
        <%= c.message %>
      </div>
    <% else %>
    <% end %>
  </div>
<% end %>

<%= form_for(@chat, url: {controller: 'lineevents', action: 'messagecreate' }) do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :lineuser_id, value: params[:userid] %>
  <%= f.submit %>
<% end %>