<% @chats.each do |c| %>
  <div class="chat">
    <%= c.lineuser_id %>
    <%= c.message %>
  </div>
<% end %>

<%= form_for(@chat, url: {controller: 'lineevents', action: 'chat' }) do |f| %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>