<div class="list-group">
  <% @lineusers.each do |l| %>
    <% if l.read %>
      <a href="<%= chat_path(l.userid) %>" class="list-group-item list-group-item-action">
        <div class="d-inline-block">
          <div class="d-flex w-90 justify-content-between">
            <h5 class="mb-1"><%= l.displayname %></h5>
          </div>
          <div class="d-flex w-10">
            <small><%= l.lastmessagetime.strftime('%Y/%m/%d %H:%M') %></small>
            <p class="badge bg-primary rounded-pill"><%= l.readcount %></p>
          </div>
        </div>
        <p class="mb-1"><%= l.lastmessage %></p>
      </a>
    <% else %>
      <a href="<%= chat_path(l.userid) %>" class="list-group-item list-group-item-action">
        <div class="d-inline-block">
          <div class="d-flex w-90 justify-content-between">
            <h5 class="mb-1"><%= l.displayname %></h5>
          </div>
          <div class="d-flex w-10">
            <small><%= l.lastmessagetime.strftime('%Y/%m/%d %H:%M') %></small>
            <p class="badge bg-primary rounded-pill"><%= l.readcount %></p>
          </div>
        </div>
        <p class="mb-1"><%= l.lastmessage %></p>
      </a>
    <% end %>
  <% end %>
</div>